<!-- vingt_quatre_section -->
<section class="vingt_quatre_section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1 style="margin-top: 50px;font-size: 109.00px;
        font-weight: 400;
        font-style: normal;margin-left: -801px;
        font-family: 'Hatmi White', Arial;color: rgba(0, 0, 0, 1);white-space: pre;">
          <img src="/open_moise/static/images/Open Noir.png" style="width: 287px;
            height: 125px;" alt="open moise" /> <span style="color: #000;
font-size: 109.00px;
font-weight: 700;
font-style: normal;
font-family: gotham_black, Arial;">G</span>énération
        </h1>
        <h1 style="color: rgba(128, 128, 128, 1);
        font-size: 77.00px;
        font-weight: 400;
        font-style: normal;
        font-family: leaguegothic_regular, Arial;
        white-space: pre;
        margin-top: -105px;">Des accessoires pour</h1>
        <h1 style="color: rgba(0, 0, 0, 1);
        font-size: 83.00px;
        font-weight: 400;
        font-style: italic;
        font-family: gotham_ultraitalic, Arial;">Plus de fun !</h1>
        <p style="color: rgba(112, 112, 112, 1);
        font-size: 17.00px;
        font-weight: 300;
        font-style: normal;
        font-family: gotham_light, Arial;
        line-height: 30.00px;">Jouez à vos jeux vidéos avec des joystick et un casque audio soft et
          immersif,
          puissant et comfortable.
        </p>
        <div class="row" style="width: 180%;">
          <div class="col">
            <a href="#" style="text-decoration: none;
              background: var(--blue);
          padding: 10px;
          font-size: 18px;
          border: 1px;
          color: #fff;border-radius: 24px;">Précommander Open Génération</a>
          </div>
          <div class="col">
            <a href="#" style="text-decoration: none;
          color: var(--blue);
          font-size: 26px;font-family: gotham_light;font-size: 23px;">En apprendre plus <i
                class="bi bi-chevron-right"></i></a>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="col-6">
        <img src="/open_moise/static/images/imgTrans.png" style="width: 1310.33px;
        height: 982.75px;" />
      </div>
    </div>
  </div>
</section>
<!-- vingt_cinq_section -->
<section class="vingt_cinq_section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1 style="color: rgba(255, 255, 255, 1);font-size: 36.00px;margin-top: 205px;
        font-weight: 700;white-space: pre;
        font-style: normal;
        font-family: gotham_bold, Arial;margin-bottom: 40px;">Quelques questions fréquentes</h1>

        <div class="row">
          <div class="col-6">
            <p style="width: 230%;
            padding: 12px;
            background: #fff;"><a id="nono" href="#nogo"
                onclick="document.getElementById('lirelasuite').style.display = 'block'; this.style.display = 'none';"
                style="color: rgba(112, 112, 112, 1);
                font-size: 14.00px;
                font-weight: 300;
                font-style: normal;
                font-family: gotham_light, Arial;
                text-decoration: none;">
                Quand recevrons nous Open Génération pré commandé ? <i style="margin-left: 144px;"
                  class="bi bi-chevron-down"></i></a></p>
            <p id="lirelasuite"
              style="display: none;background: #fff;width: 230%;margin-top: -33px;padding: 10px;">
              <span style="font-family: gotham_light, Arial;color: rgba(112, 112, 112, 1);font-size: 14.00px;
              font-weight: 300;">Quand recevrons nous
                Open
                Génération pré commandé
                ?</span> <i style="margin-left: 140px;" class="bi bi-chevron-up"></i> <br />
              autre text autre text autre text autre textautre textautre textautre textautre textautre
              textautre textautre text
              autre textautre textautre textautre text.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p style="width: 230%;
            padding: 12px;
            background: #fff;"><a id="nono" href="#nogo"
                onclick="document.getElementById('lirelasuite').style.display = 'block'; this.style.display = 'none';"
                style="color: rgba(112, 112, 112, 1);
                font-size: 14.00px;
                font-weight: 300;
                font-style: normal;
                font-family: gotham_light, Arial;
                text-decoration: none;">
                Quand recevrons nous Open Génération pré commandé ? <i style="margin-left: 144px;"
                  class="bi bi-chevron-down"></i></a></p>
            <p id="lirelasuite"
              style="display: none;background: #fff;width: 230%;margin-top: -33px;padding: 10px;">
              <span style="font-family: gotham_light, Arial;color: rgba(112, 112, 112, 1);font-size: 14.00px;
              font-weight: 300;">Quand recevrons nous
                Open
                Génération pré commandé
                ?</span> <i style="margin-left: 140px;" class="bi bi-chevron-up"></i> <br />
              autre text autre text autre text autre textautre textautre textautre textautre textautre
              textautre textautre text
              autre textautre textautre textautre text.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p style="width: 230%;
            padding: 12px;
            background: #fff;"><a id="nono" href="#nogo"
                onclick="document.getElementById('lirelasuite').style.display = 'block'; this.style.display = 'none';"
                style="color: rgba(112, 112, 112, 1);
                font-size: 14.00px;
                font-weight: 300;
                font-style: normal;
                font-family: gotham_light, Arial;
                text-decoration: none;">
                Quand recevrons nous Open Génération pré commandé ? <i style="margin-left: 144px;"
                  class="bi bi-chevron-down"></i></a></p>
            <p id="lirelasuite"
              style="display: none;background: #fff;width: 230%;margin-top: -33px;padding: 10px;">
              <span style="font-family: gotham_light, Arial;color: rgba(112, 112, 112, 1);font-size: 14.00px;
              font-weight: 300;">Quand recevrons nous
                Open
                Génération pré commandé
                ?</span> <i style="margin-left: 140px;" class="bi bi-chevron-up"></i> <br />
              autre text autre text autre text autre textautre textautre textautre textautre textautre
              textautre textautre text
              autre textautre textautre textautre text.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p style="width: 230%;
            padding: 12px;
            background: #fff;"><a id="nono" href="#nogo"
                onclick="document.getElementById('lirelasuite').style.display = 'block'; this.style.display = 'none';"
                style="color: rgba(112, 112, 112, 1);
                font-size: 14.00px;
                font-weight: 300;
                font-style: normal;
                font-family: gotham_light, Arial;
                text-decoration: none;">
                Quand recevrons nous Open Génération pré commandé ? <i style="margin-left: 144px;"
                  class="bi bi-chevron-down"></i></a></p>
            <p id="lirelasuite"
              style="display: none;background: #fff;width: 230%;margin-top: -33px;padding: 10px;">
              <span style="font-family: gotham_light, Arial;color: rgba(112, 112, 112, 1);font-size: 14.00px;
              font-weight: 300;">Quand recevrons nous
                Open
                Génération pré commandé
                ?</span> <i style="margin-left: 140px;" class="bi bi-chevron-up"></i> <br />
              autre text autre text autre text autre textautre textautre textautre textautre textautre
              textautre textautre text
              autre textautre textautre textautre text.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p style="width: 230%;
            padding: 12px;
            background: #fff;"><a id="nono" href="#nogo"
                onclick="document.getElementById('lirelasuite').style.display = 'block'; this.style.display = 'none';"
                style="color: rgba(112, 112, 112, 1);
                font-size: 14.00px;
                font-weight: 300;
                font-style: normal;
                font-family: gotham_light, Arial;
                text-decoration: none;">
                Quand recevrons nous Open Génération pré commandé ? <i style="margin-left: 144px;"
                  class="bi bi-chevron-down"></i></a></p>
            <p id="lirelasuite"
              style="display: none;background: #fff;width: 230%;margin-top: -33px;padding: 10px;">
              <span style="font-family: gotham_light, Arial;color: rgba(112, 112, 112, 1);font-size: 14.00px;
              font-weight: 300;">Quand recevrons nous
                Open
                Génération pré commandé
                ?</span> <i style="margin-left: 140px;" class="bi bi-chevron-up"></i> <br />
              autre text autre text autre text autre textautre textautre textautre textautre textautre
              textautre textautre text
              autre textautre textautre textautre text.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</section>
<!-- vingt_six_section -->
<section class="vingt_six_section">
  <h1 style="color: rgba(255, 255, 255, 1);font-size: 36.00px;
  font-weight: 700;
  font-style: normal;
  font-family: gotham_black, Arial;text-align:center;margin-top: 250px;">Comment nous contacter ?</h1>
  <p style="margin-bottom: 55px;color: rgba(255, 255, 255, 1);font-size: 14.00px;
  font-weight: 300;
  font-style: normal;
  font-family: gotham_light, Arial;text-align:center;margin-top: 20px;">Veuillez rentrer vos
    informations puis le sujet
    et l'intitulé de votre demande.<br />
    Nous vous répondrons plus rapidement.<br />
    Merci. Dieu vous bénisse !</p>

  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-5">
        <form>
          <div class="mb-3">
            <input style="padding: 23px;
            border: 1px solid #fff;
            border-radius: 160px;
            background: #000;" name="name" placeholder="Nom" type="text" class="form-control"
              id="name" />
          </div>
          <div class="mb-3">
            <input style="padding: 23px;
            border: 1px solid #fff;
            border-radius: 160px;
            background: #000;" placeholder="E-mail" name="email" type="email" class="form-control"
              id="email" />
          </div>
          <div class="mb-3">
            <input style="padding: 23px;
            border: 1px solid #fff;
            border-radius: 160px;
            background: #000;" placeholder="Sujet" name="subject" type="text" class="form-control"
              id="email" />
          </div>
          <div class="mb-3">
            <textarea style="padding: 31px;
            border: 1px solid #fff;
            border-radius: 41px;
            background: #000;" type="text" class="form-control" placeholder="écrivez votre message ici"
              id="message" rows="4"></textarea>
          </div>
          <button type="submit" style="background-color: rgba(0, 112, 192, 1);
          border: 1px solid rgba(0, 112, 192, 1);
          width: 25%;
          height: 42px;
          border-radius: 19px;" class="btn btn-primary">Envoyer</button>
        </form>

      </div>
      <div class="col-3">
        <div class="row">
          <h1 style="font-size: 16.00px;
          font-weight: 700;
          font-style: normal;
          font-family: gotham_black, Arial;color: rgba(255, 255, 255, 1);"><img
              src="/open_moise/static/images/iclocalphone24px.png" style="height: 20px;" /> Téléphone
          </h1>
          <p style="font-size: 14.00px;
          font-weight: 100;
          font-style: normal;
          font-family: gotham_book, Arial;color: rgba(255, 255, 255, 1);">+01 12345 67890</p>
          <p style="font-size: 14.00px;
          font-weight: 100;
          font-style: normal;
          font-family: gotham_book, Arial;color: rgba(255, 255, 255, 1);">+01 12345 67890</p>
        </div>
        <div class="row">
          <h1 style="font-size: 16.00px;
          font-weight: 700;
          font-style: normal;
          font-family: gotham_black, Arial;color: rgba(255, 255, 255, 1);"><img
              src="/open_moise/static/images/icemail24px.png" style="height: 20px;" /> Mail
          </h1>
          <p style="font-size: 14.00px;
          font-weight: 100;
          font-style: normal;
          font-family: gotham_book, Arial;color: rgba(255, 255, 255, 1);">openmoise@groupecerco.com</p>
        </div>
        <div class="row">
          <h1 style="font-size: 16.00px;
          font-weight: 700;
          font-style: normal;
          font-family: gotham_black, Arial;color: rgba(255, 255, 255, 1);"><img
              src="/open_moise/static/images/iclocationon24px.png" style="height: 20px;" /> Mail
          </h1>
          <p style="font-size: 14.00px;
          font-weight: 100;
          font-style: normal;
          font-family: gotham_book, Arial;color: rgba(255, 255, 255, 1);">Groupe CERCO, Vallon, à côté
            de l'église
            Ste. Cécile
            Abidjan, Côte d'Ivoire</p>
        </div>
        <div class="row">
          <h1 style="font-size: 16.00px;
          font-weight: 700;
          font-style: normal;
          font-family: gotham_black, Arial;color: rgba(255, 255, 255, 1);">Nous Suivre
          </h1>
        </div>
        <p>
        <div class="row" style="margin-left: -36px;">
          <div class="col-2"><img src="/open_moise/static/images/Facebook-f_Logo-Blue-Logo.wine.svg"
              style="height: 43px;margin-top: -5px;" /></div>
          <div class="col-2"><img src="/open_moise/static/images/ttuiter-removebg-preview.png"
              style="height: 33px;margin-left: 8px;" />
          </div>
          <div class="col-2"><img src="/open_moise/static/images/googl.png" style="height: 30px;" />
          </div>
          <div class="col-2"><img src="/open_moise/static/images/4902098-middle-removebg-preview.png"
              style="height: 35px;margin-left: -22px;
              margin-top: -3px;" /></div>
        </div>
        </p>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</section>