/* Pour les medias queries */
/* section_header */
/* section_header_vues_web_et_mobile */
@media screen and (max-width: 1058px) and (min-width: 992px) {
  #lien_enregistrer_connecter {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 959px) {
  #lien_precommander {
    color: rgba(112, 112, 112, 1);
    background: none;
  }
  #lien_enregistrer_connecter {
    width: 100% !important;
  }
}
@media screen and (max-width: 958px) and (min-width: 768px) {
  #lien_precommander {
    background: none;
    color: rgba(112, 112, 112, 1);
    font-size: 16px;
  }
  #lien_enregistrer_connecter {
    width: 28%;
    border: none;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  #lien_precommander {
    background: none;
    color: rgba(112, 112, 112, 1);
    font-size: 16px;
  }
  #lien_enregistrer_connecter {
    width: 28%;
    border: none;
    font-size: 16px;
  }
}
/* section_Acceuil_vues_web_et_mobile */
@media screen and (max-width: 1519px) and (min-width: 768px) {
  .double_phone {
    width: 100%;
    height: auto;
  }
  .signature {
    font-size: 30px;
  }
  .superĥone {
    font-size: 23px;
  }
  .prix1 {
    width: 100%;
    height: auto;
    font-size: 23px;
  }
  .prix1 span {
    font-size: 17px !important;
  }
  .prix2 {
    width: 100%;
    height: auto;
    font-size: 23px;
  }
  .prix2 span {
    font-size: 17px !important;
  }
  .precommander {
    margin-top: 0px;
    width: 65%;
  }
  .savoir_plus {
    margin-top: 0px;
  }
}
@media screen and (max-width: 767px) and (min-width: 350px) {
  .first_section{
    height: auto !important;
  }
  .double_phone {
    width: 100%;
    height: auto;
  }
  .signature {
    font-size: 30px;
    text-align: center;
  }
  .superĥone {
    font-size: 23px;
    text-align: center;
  }
  .prix1 {
    height: auto;
    font-size: 23px;
    width: 50%;
    margin: 0 auto;
  }
  .prix1 span {
    font-size: 17px !important;
  }
  .prix2 {
    width: 100%;
    height: auto;
    font-size: 23px;
    text-align: center;
  }
  .prix2 span {
    font-size: 17px !important;
  }
  .precommander {
    margin-top: 0px;
    width: 65%;
    margin: 0 auto;
  }
  .savoir_plus {
    margin-top: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 349px) {
  .first_section{
    height: auto !important;
  }
  .double_phone {
    width: 100%;
    height: auto;
  }
  .signature {
    font-size: 12px;
    text-align: center;
  }
  .superĥone {
    font-size: 12px;
    text-align: center;
  }
  .prix1 {
    height: auto;
    font-size: 9px;
    width: 50%;
    margin: 0 auto;
  }
  .prix1 span {
    font-size: 5px !important;
  }
  .prix2 {
    width: 100%;
    height: auto;
    font-size: 9px;
    text-align: center;
  }
  .prix2 span {
    font-size: 5px !important;
  }
  .precommander {
    margin-top: 0px;
    font-size: 12px;
    width: 65%;
    margin: 0 auto;
  }
  .savoir_plus {
    margin-top: 25px;
    font-size: 12px;
    text-align: center;
  }
}
/* section_vidéo_vues_web_et_mobile */
@media screen and (max-width: 1999px) and (min-width: 576px) {
  #iframee {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  #titre_section_video{
    padding-top: 0px !important;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  #titre_section_video i{
    display: none;
  }
}
@media screen and (max-width: 575px) {
  #iframee {
    height: auto;
    width: 100% !important;
  }
}
/* section_5_révolution_en_un_vues_web_et_mobile */
@media screen and (max-width: 1199px) and (min-width: 576px) {
  .text_section_three1 h2 {
    font-size: 56px;
  }
  .text_section_three1 p {
    font-size: 15px;
  }
  #img_icon_revolution {
    height: 110px;
    width: 110px;
  }
  .text_cards_h3 {
    font-size: 15px;
  }
  .three_section {
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  .text_section_three1 h2 {
    font-size: 30px;
  }
  .text_section_three1 p {
    font-size: 10px;
  }
  #img_icon_revolution {
    height: 110px;
    width: 110px;
  }
  .text_cards_h3 {
    font-size: 17px;
  }
  .three_section {
    height: auto;
  }
}
/* section_votre_smartphone_open_vous_comprends_vues_web_et_mobile */
@media screen and (max-width: 1199px) {
  .four_section h1 {
    font-size: 40px;
  }
  .four_section h3 {
    font-size: 26px;
  }
  .four_section p {
    font-size: 13px;
  }
  .img_section_four {
    height: 100px;
    width: 100px;
  }
  .four_section h5 {
    font-size: 9px;
    padding: 11px;
  }
  .precommander_open_G {
    padding: 8px;
    font-size: 10px;
  }
  .apprendre_plus {
    font-size: 15px;
  }
  .filigramme_texte h1 {
    display: none;
  }
}
@media screen and (max-width: 1199px) and (min-width: 408px) {
  .four_section h1 {
    font-size: 30px;
  }
  .four_section h3 {
    font-size: 23px;
  }
  .four_section p {
    font-size: 13px;
  }
  .img_section_four {
    height: 100px;
    width: 100px;
  }
  .four_section h5 {
    font-size: 9px;
    padding: 11px;
  }
  .precommander_open_G {
    padding: 8px;
    font-size: 8px;
  }
  .apprendre_plus {
    font-size: 12px;
  }
  .filigramme_texte h1 {
    display: none;
  }
}
@media screen and (max-width: 407px) and (min-width: 313px) {
  .four_section h1 {
    font-size: 30px;
  }
  .four_section h3 {
    font-size: 20px;
  }
  .four_section p {
    font-size: 10px;
  }
  .img_section_four {
    height: 90px;
    width: 90px;
  }
  .four_section h5 {
    font-size: 7px;
    padding: 8px;
  }
  .precommander_open_G {
    padding: 6px;
    font-size: 7px;
  }
  .apprendre_plus {
    font-size: 10px;
  }
  .filigramme_texte h1 {
    display: none;
  }
}
@media screen and (max-width: 312px) {
  .four_section h1 {
    font-size: 24px;
  }
  .four_section h3 {
    font-size: 20px;
  }
  .four_section p {
    font-size: 10px;
  }
  .img_section_four {
    height: 90px;
    width: 90px;
  }
  .four_section h5 {
    font-size: 7px;
    padding: 8px;
  }
  .precommander_open_G {
    padding: 6px;
    font-size: 6px;
  }
  .apprendre_plus {
    font-size: 10px;
  }
  .filigramme_texte h1 {
    display: none;
  }
}
/* section_1_super_app_vues_web_et_mobile */
@media screen and (max-width: 1390px) and (min-width: 992px) {
  .une_super_app h1 {
    font-size: 46px;
  }
  .application_intelligent {
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .une_super_app h1 {
    font-size: 46px;
  }
  .application_intelligent {
    font-size: 22px;
  }
  /* #img_googlePlayBadge137350d57 {
    height: 75px;
  }
  #img_image253fcb51 {
    height: 49px;
    margin-top: 14px;
    margin-left: 11px;
  } */
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .une_super_app h1 {
    font-size: 46px;
  }
  .application_intelligent {
    font-size: 22px;
  }
  /* #img_googlePlayBadge137350d57 {
    height: 100px;
  }
  #img_image253fcb51 {
    margin-top: 20px;
    height: 60px;
  } */
}
@media screen and (max-width: 767px) {
  .une_super_app h1 {
    font-size: 25px;
  }
  .application_intelligent {
    font-size: 15px;
  }
  #img_googlePlayBadge137350d57 {
    height: 52px;
  }
  #img_image253fcb51 {
    margin-top: 8px;
    height: 37px;
  }
  .je_veux h1 {
    font-size: 23px;
  }
  .je_veux span {
    font-size: 28px;
  }
  .four_section {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 1787px) and (min-width: 1640px) {
  .une_super_app h1 {
    font-size: 70px;
  }
  .application_intelligent p {
    font-size: 34px;
  }
  .je_veux h1 {
    font-size: 38px;
  }
  .je_veux span {
    font-size: 46px;
  }
}
@media screen and (max-width: 1639px) {
  .image_phones {
    display: none;
  }
  .five_section {
    background: none;
    height: auto;
  }
}
/* Section_Open_Market_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .titre_un_open_market {
    font-size: 54px;
  }
  .titre_deux_open_market {
    font-size: 45px;
  }
  .titre_trois_open_market {
    font-size: 50px;
  }
  .paragraphe_open_market {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_un_open_market {
    font-size: 46px !important;
  }
  .titre_deux_open_market {
    font-size: 40px !important;
  }
  .titre_trois_open_market {
    font-size: 43px !important;
  }
  .six_section p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 524px) {
  .titre_un_open_market {
    font-size: 30px !important;
  }
  .titre_deux_open_market {
    font-size: 25px !important;
  }
  .titre_trois_open_market {
    font-size: 30px !important;
    white-space: pre;
  }
  .six_section p {
    font-size: 12px !important;
  }
}
/* Section_Open_Food_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .titre_trois_open_food {
    font-size: 54px;
  }
  .titre_un_open_food {
    font-size: 52px;
  }
  .titre_deux_open_food {
    font-size: 42px;
  }
  .paragraphe_open_food {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .seven_section {
    background: none;
    height: auto;
  }
  .titre_un_open_food {
    font-size: 46px !important;
  }
  .titre_deux_open_food {
    font-size: 40px !important;
  }
  .titre_trois_open_food {
    font-size: 43px !important;
  }
  .seven_section p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 524px) {
  .seven_section {
    background: none;
    height: auto;
  }
  .titre_un_open_food {
    font-size: 30px !important;
  }
  .titre_deux_open_food {
    font-size: 25px !important;
  }
  .titre_trois_open_food {
    font-size: 30px !important;
    white-space: pre;
  }
  .seven_section p {
    font-size: 12px !important;
  }
}
/* Section_Open_Car_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .titre_deux_open_car {
    font-size: 43px;
  }
  .paragraphe_open_car {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_un_open_event {
    font-size: 46px !important;
  }
  .titre_deux_open_car {
    font-size: 40px !important;
  }
  .titre_trois_open_car {
    font-size: 43px !important;
  }
  .heigth_section p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 524px) {
  .seven_section {
    background: none;
    height: auto;
  }
  .titre_un_open_car {
    font-size: 20px !important;
  }
  .titre_deux_open_car {
    font-size: 25px !important;
  }
  .titre_trois_open_car {
    font-size: 30px !important;
    white-space: pre;
  }
  .heigth_section p {
    font-size: 12px !important;
  }
}
/* Section_Open_Event_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .paragraphe_open_event {
    color: #fff;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_un_open_event {
    font-size: 46px !important;
  }
  .titre_deux_open_car {
    font-size: 40px !important;
  }
  .titre_trois_open_car {
    font-size: 43px !important;
  }
  .nine_section p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 524px) {
  .titre_un_open_event {
    font-size: 20px !important;
  }
  .titre_deux_open_car {
    font-size: 25px !important;
  }
  .titre_trois_open_car {
    font-size: 30px !important;
    white-space: pre;
  }
  .nine_section p {
    font-size: 12px !important;
  }
}
/* Section_Open_Medecine_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .titre_deux_open_medecine {
    font-size: 66px;
  }
  .paragraphe_open_medecine {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_un_open_medecine {
    font-size: 46px !important;
  }
  .titre_deux_open_medecine {
    font-size: 40px !important;
  }
  .titre_trois_open_medecine {
    font-size: 43px !important;
  }
  .ten_section p {
    font-size: 12px !important;
  }
  .ten_section h2 {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 524px) {
  /* .nine_section{
    background: none;
    height: auto;
  } */
  .titre_un_open_medecine {
    font-size: 20px !important;
  }
  .titre_deux_open_medecine {
    font-size: 25px !important;
  }
  .titre_trois_open_medecine {
    font-size: 30px !important;
    white-space: pre;
  }
  .ten_section p {
    font-size: 12px !important;
  }
  .ten_section h2 {
    font-size: 12px !important;
  }
}
/* Section_Open_Assistant_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .titre_deux_open_assistant {
    font-size: 51px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_un_open_assistant {
    font-size: 46px !important;
  }
  #img_open_assistant_un {
    display: none;
  }
  .titre_deux_open_assistant {
    font-size: 40px !important;
  }
  .titre_un_open_assistant span {
    font-size: 20px !important;
  }
  .elven_section p {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 524px) {
  .titre_un_open_assistant {
    font-size: 20px !important;
  }
  .titre_un_open_assistant span {
    font-size: 17px !important;
  }
  .titre_deux_open_assistant {
    font-size: 20px !important;
  }
  .elven_section p {
    font-size: 12px !important;
  }
  #img_open_assistant_un {
    display: none;
  }
}
/* Section_Open_Pay_vues_web_et_mobile */
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .titre_un_open_pay {
    font-size: 26px;
  }
  .titre_deux_open_pay {
    font-size: 48px;
  }
  .paragraphe_commentaire {
    width: 410px;
    font-size: 14px;
  }
  .titre2_open_pay_un {
    font-size: 29px;
  }
  .titre2_open_pay_un_paragraphe {
    font-size: 12px;
  }
  .titre2_open_pay_deux {
    font-size: 27px;
  }
  .titre2_open_pay_deux_paragraphe {
    font-size: 12px;
  }
  .titre2_open_pay_trois {
    font-size: 29px;
  }
  .titre2_open_pay_trois_paragraphe {
    font-size: 11px !important;
  }
  .prix_de_chaussure_bleu {
    padding-top: 8px !important;
    padding-left: 5px !important;
    font-size: 18px !important;
    width: 45%;
    height: 47px;
    margin-left: -13px !important;
  }
  .prix_de_chaussure_bleu span {
    font-size: 11px !important;
  }
  .prix_de_chaussure_vert {
    font-size: 19px !important;
    height: 50px !important;
  }
  .trois_ratation_un {
    width: 0;
    position: absolute;
    transform: rotate(15deg);
    color: #80808024;
    font-size: 230px;
    font-family: gotham_black;
    font-family: "gotham_black";
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .trois_ratation_un {
    position: absolute;
    transform: rotate(15deg);
    color: #80808024;
    font-size: 100px;
    margin-top: -90px;
    font-family: gotham_black;
    font-family: "gotham_black";
  }
  .titre_un_open_pay {
    font-size: 26px;
  }
  .titre_deux_open_pay {
    font-size: 48px;
  }
  .paragraphe_commentaire {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
  .titre2_open_pay_un {
    font-size: 29px;
  }
  .titre2_open_pay_un_paragraphe {
    font-size: 12px;
  }
  .titre2_open_pay_deux {
    font-size: 27px;
  }
  .titre2_open_pay_deux_paragraphe {
    font-size: 12px;
  }
  .titre2_open_pay_trois {
    font-size: 29px;
  }
  .titre2_open_pay_trois_paragraphe {
    font-size: 11px !important;
  }
  .prix_de_chaussure_bleu {
    padding-top: 8px !important;
    padding-left: 5px !important;
    font-size: 18px !important;
    width: 37%;
    height: 47px;
    margin-left: -28px !important;
  }
  .prix_de_chaussure_bleu span {
    font-size: 11px !important;
  }
  .prix_de_chaussure_vert {
    font-size: 19px !important;
    height: 50px !important;
  }
  .trois_ratation_un {
    display: none;
  }
}
@media screen and (max-width: 524px) {
  .trois_ratation_un {
    display: none;
  }
  .titre_un_open_pay {
    font-size: 17px;
  }
  .titre_deux_open_pay {
    font-size: 25px;
  }
  .paragraphe_commentaire {
    width: 100%;
    height: auto;
    font-size: 14px;
  }
  .titre2_open_pay_un {
    font-size: 14px;
  }
  .titre2_open_pay_un span {
    font-size: 10px !important;
  }
  .titre2_open_pay_un_paragraphe {
    font-size: 8px;
  }
  .titre2_open_pay_deux {
    font-size: 14px;
  }
  .titre2_open_pay_deux span {
    font-size: 10px !important;
  }
  .titre2_open_pay_deux_paragraphe {
    font-size: 8px;
  }
  .titre2_open_pay_trois {
    font-size: 16px !important;
  }
  .titre2_open_pay_trois_paragraphe {
    font-size: 8px !important;
  }
  .prix_de_chaussure_bleu {
    padding-top: 8px !important;
    padding-left: 5px !important;
    font-size: 18px !important;
    width: 50%;
    height: 47px;
    margin-left: -28px !important;
  }
  .prix_de_chaussure_bleu span {
    font-size: 11px !important;
  }
  .prix_de_chaussure_vert {
    font-size: 19px !important;
    height: 50px !important;
  }
}
/* Deuxieme_section_Open_Pay_Deux_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .titre_un_open_pay_deux {
    font-size: 23px;
  }
  .titre_deux_open_pay_deux {
    font-size: 47px;
  }
  .paragraphe_un_open_pay_deux {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  #img_open_pay_deux {
    margin-top: 100px;
    margin-bottom: -70px;
  }
  .titre_un_open_pay_deux {
    font-size: 15px;
  }
  .titre_deux_open_pay_deux {
    font-size: 32px;
  }
  .paragraphe_deux_open_pay_deux {
    font-size: 12px;
  }
  .titre_trois_open_pay_deux {
    font-size: 40px;
  }
  .paragraphe_deux_open_pay_deux {
    font-size: 10px;
  }
}
@media screen and (max-width: 524px) {
  #img_open_pay_deux {
    margin-top: 100px;
    margin-bottom: -70px;
  }
  .titre_un_open_pay_deux {
    font-size: 12px;
  }
  .titre_deux_open_pay_deux {
    font-size: 28px;
  }
  .paragraphe_deux_open_pay_deux {
    font-size: 10px;
  }
  .titre_trois_open_pay_deux {
    font-size: 30px;
  }
  .paragraphe_deux_open_pay_deux {
    font-size: 10px;
  }
}
/* Deuxieme_section_debut_Open_Game_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .titre_deux_debut_open_game {
    font-size: 51px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .paragraphe_un_debut_open_game {
    display: none;
  }
  .titre_un_debut_open_game {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: leaguegothic_regular, Arial;
    margin-top: 36px;
  }
  .titre_deux_debut_open_game {
    color: rgba(0, 9, 64, 1);
    font-size: 27px;
    font-family: gotham_ultraitalic, Arial;
    margin-top: 14px;
  }
  .paragraphe_deux_debut_open_game {
    width: 100%;
    font-family: gotham_light, Arial;
    height: auto;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    color: rgba(112, 112, 112, 1);
  }
  .paragraphe_row_debut_open_game {
    padding: 16px;
    font-size: 10px;
    background: #fff;
    color: gray;
    width: 100%;
    text-align: left;
    box-shadow: 0px 1px 10px 0px;
  }
}
@media screen and (max-width: 524px) {
  .paragraphe_un_debut_open_game {
    display: none;
  }
  .titre_un_debut_open_game {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: leaguegothic_regular, Arial;
    margin-top: 36px;
  }
  .titre_deux_debut_open_game {
    color: rgba(0, 9, 64, 1);
    font-size: 27px;
    font-family: gotham_ultraitalic, Arial;
  }
  .paragraphe_deux_debut_open_game {
    width: 100%;
    font-family: gotham_light, Arial;
    height: auto;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    color: rgba(112, 112, 112, 1);
  }
  .paragraphe_row_debut_open_game {
    padding: 16px;
    font-size: 10px;
    background: #fff;
    color: gray;
    width: 100%;
    text-align: left;
    box-shadow: 0px 1px 10px 0px;
  }
}
/* Deuxieme_section_debut_Open_Game_Studio_vues_web_et_mobile */
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_un_open_game_studio {
    font-size: 20px;
  }
  .titre_deux_open_game_studio {
    font-size: 38px;
  }
  .titre_trois_open_game_studio {
    font-size: 13px;
  }
  .img_open_game_studio {
    margin-top: 35px;
  }
}
@media screen and (max-width: 524px) {
  .titre_un_open_game_studio {
    font-size: 20px;
  }
  .titre_deux_open_game_studio {
    font-size: 38px;
  }
  .titre_trois_open_game_studio {
    font-size: 13px;
  }
  .img_open_game_studio {
    margin-top: 35px;
  }
}
/* Deuxieme_section_Open_Game_Studio_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .img_trois_open_game_studio_deux {
    display: none;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .img_open_game_studio_deux {
    margin-top: 0px;
  }
  .img_trois_open_game_studio_deux {
    display: none;
  }
}
@media screen and (max-width: 524px) {
  .img_open_game_studio_deux {
    margin-top: 0px;
  }
  .img_trois_open_game_studio_deux {
    display: none;
  }
}
/* section_debut_Open_Casino_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .dix_sept_section {
    height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_open_casion {
    font-size: 35px;
  }
  .img_open_casino {
    margin-top: 0px;
  }
  .paragraphe_un_open_casion {
    font-size: 12px;
  }
  .dix_sept_section {
    padding-top: 30px;
    height: auto;
  }
}
@media screen and (max-width: 524px) {
  .dix_sept_section {
    height: auto;
    padding-top: 30px;
  }
  .titre_open_casion {
    font-size: 35px;
  }
  .img_open_casino {
    margin-top: 0px;
  }
  .paragraphe_un_open_casion {
    font-size: 12px;
  }
}
/* section_Open_Smart_vues_web_et_mobile */
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .paragraphe_deux_open_smart {
    display: none;
  }
  .titre_un_open_smart {
    font-size: 41px;
  }
  .titre_un_open_smart span {
    font-size: 47px;
  }
  .titre_deux_open_smart {
    font-size: 47px;
  }
  .paragraphe_un_open_smart {
    font-size: 12px;
  }
  #img_googlePlayBadge137350d57 {
    height: 65px;
  }
  #img_image253fcb51 {
    height: 40px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_un_open_smart {
    font-size: 29px;
  }
  .titre_un_open_smart span {
    font-size: 26px;
  }
  .titre_deux_open_smart {
    font-size: 32px;
  }
  .paragraphe_deux_open_smart {
    display: none;
  }
  .paragraphe_un_open_smart {
    font-size: 14px;
  }
}
@media screen and (max-width: 524px) {
  .titre_un_open_smart {
    font-size: 29px;
  }
  .titre_un_open_smart span {
    font-size: 26px;
  }
  .titre_deux_open_smart {
    font-size: 32px;
  }
  .paragraphe_deux_open_smart {
    display: none;
  }
  .paragraphe_un_open_smart {
    font-size: 14px;
  }
}
/* section_Open_chat_vues_web_et_mobile */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .titre_open_chat {
    font-size: 27px;
  }
  .titre_open_chat span {
    font-size: 42px;
  }
  .paragraphe_open_chat {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .dix_neuf_section {
    padding: 0px;
  }
  .titre_open_chat {
    margin-top: 10px;
    font-size: 27px;
  }
  .titre_open_chat span {
    font-size: 19px;
  }
  .paragraphe_open_chat {
    font-size: 17px;
    width: 100%;
  }
}
@media screen and (max-width: 524px) {
  .dix_neuf_section {
    padding: 0px;
  }
  .titre_open_chat {
    margin-top: 27px;
    font-size: 19px;
  }
  .titre_open_chat span {
    font-size: 19px;
  }
  .paragraphe_open_chat {
    font-size: 12px;
    width: 100%;
  }
}
/* section_Open_chat_Deux_vues_web_et_mobile */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .titre_un_open_chat_deux {
    font-size: 33px;
  }
  .titre_deux_open_chat_deux {
    font-size: 38px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_un_open_chat_deux {
    font-size: 24px;
  }
  .titre_deux_open_chat_deux {
    font-size: 36px;
  }
  .paragraphe_open_chat_deux {
    font-size: 12px;
  }
}
@media screen and (max-width: 524px) {
  .titre_un_open_chat_deux {
    font-size: 24px;
  }
  .titre_deux_open_chat_deux {
    font-size: 36px;
  }
  .paragraphe_open_chat_deux {
    font-size: 12px;
  }
}
/* section_Section_social_Media_vues_web_et_mobile */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .titre_un_social_media {
    font-size: 28px;
  }
  .titre_deux_social_media {
    font-size: 38px;
  }
  .paragraphe_social_media {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .img_social_media {
    margin-top: 20px;
  }
  .titre_un_social_media {
    margin-top: 45px;
    font-size: 16px;
  }
  .titre_deux_social_media {
    font-size: 26px;
  }
}
@media screen and (max-width: 524px) {
  .img_social_media {
    margin-top: 20px;
  }
  .titre_un_social_media {
    margin-top: 45px;
    font-size: 16px;
  }
  .titre_deux_social_media {
    font-size: 26px;
  }
}
/* section_Open_Generation_Deux_vues_web_et_mobile */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .titre_un_open_generation_deux {
    font-size: 63px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_un_open_generation_deux {
    font-size: 34px;
  }
  .titre_un_open_generation_deux span {
    height: 50px;
  }
  .titre_deux_open_generation_deux {
    font-size: 35px;
  }
}
@media screen and (max-width: 524px) {
  .titre_un_open_generation_deux {
    font-size: 34px;
  }
  .titre_un_open_generation_deux span {
    height: 50px;
  }
  .titre_deux_open_generation_deux {
    font-size: 35px;
  }
}
/* Section_coleur_du_Smartphone_vues_web_et_mobile */
@media screen and (max-width: 1741px) and (min-width: 1639px) {
  .img_coleur_du_smartphone {
    width: 806.45px;
    height: 1044.95px;
    margin-top: -137px;
  }
  .titre_coleur_du_smartphone img {
    width: 43%;
    height: auto;
    margin-top: -33px;
  }
  .titre_coleur_du_smartphone span {
    font-size: 86px;
  }
  #cercle_un_coleur_du_smartphone {
    font-size: 40px;
  }
  #cercle_deux_coleur_du_smartphone {
    font-size: 39px;
  }
  #cercle_trois_coleur_du_smartphone {
    font-size: 40px;
  }
}
@media screen and (max-width: 1638px) and (min-width: 768px) {
  .img_coleur_du_smartphone {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
  .vingt_trois_section {
    margin-top: 10%;
    margin-bottom: 3%;
    height: 837px;
    width: 100%;
    background: rgba(0, 0, 0, 1);
  }
  .titre_coleur_du_smartphone img {
    width: 43%;
    height: auto;
    margin-top: -33px;
  }
  .titre_coleur_du_smartphone span {
    font-size: 86px;
  }
  #cercle_un_coleur_du_smartphone {
    font-size: 40px;
  }
  #cercle_deux_coleur_du_smartphone {
    font-size: 39px;
  }
  #cercle_trois_coleur_du_smartphone {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_coleur_du_smartphone span {
    font-size: 101px;
  }
  .vingt_trois_section {
    height: auto;
    width: 100%;
  }
  #cercle_un_coleur_du_smartphone {
    font-size: 50px;
    margin-top: 33px;
  }
  #cercle_deux_coleur_du_smartphone {
    font-size: 29px;
  }
  #cercle_trois_coleur_du_smartphone {
    font-size: 32px;
  }
  .img_coleur_du_smartphone {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
  .lien_coleur_du_smartphone {
    padding: 8px;
    font-size: 17px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 524px) {
  .titre_coleur_du_smartphone span {
    font-size: 101px;
  }
  .vingt_trois_section {
    height: auto;
    width: 100%;
  }
  #cercle_un_coleur_du_smartphone {
    font-size: 29px;
    margin-top: 50px;
  }
  #cercle_deux_coleur_du_smartphone {
    font-size: 29px;
    margin-left: -16px;
    white-space: break-spaces;
  }
  #cercle_trois_coleur_du_smartphone {
    font-size: 32px;
    white-space: break-spaces;
  }
  .img_coleur_du_smartphone {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .lien_coleur_du_smartphone {
    padding: 8px;
    font-size: 17px;
    padding-bottom: 0px;
  }
}
/* Section_Open_Generation_Deux_vues_web_et_mobile */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .titre_deux_open_generation_deux {
    font-size: 51px;
  }
}
/* Section_Open_Generation_Trois_vues_web_et_mobile */
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .titre_deux_Open_Generation_Trois {
    font-size: 39px;
  }
  .titre_trois_Open_Generation_Trois {
    font-size: 50px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .titre_deux_Open_Generation_Trois {
    font-size: 29px;
  }
  .titre_trois_Open_Generation_Trois {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
  .titre_deux_Open_Generation_Trois {
    font-size: 29px;
    text-align: center;
  }
  .titre_trois_Open_Generation_Trois {
    font-size: 36px;
    text-align: center;
  }
}
@media screen and (max-width: 524px) {
  .titre_deux_Open_Generation_Trois {
    font-size: 25px;
  }
  .titre_trois_Open_Generation_Trois {
    font-size: 38px;
  }
}
/* Section_Questions_Frequentes_vues_web_et_mobile */
@media screen and (max-width: 524px) {
  .titre_questions_frequentes {
    font-size: 20px;
    margin-top: 65px;
    text-align: center;
  }
}
/* Section_footer_du_site_vues_web_et_mobile */
@media screen and (max-width: 767px) and (min-width: 525px) {
}
@media screen and (max-width: 524px) {
  .titre_un_footer_du_site {
    font-size: 19px;
    margin-top: 68px;
  }
  .paragraphe_un_footer_du_site {
    font-size: 13px;
  }
  .titre_deux_footer_du_site {
    font-size: 13px;
  }
  /* .paragraphe_deux_footer_du_site {
    font-size: 11px;
  } */
}
